<p>proyectos works!</p>

<form name="form1" class="form-group row">
    <div>
        <label for="nombreProyecto">Nombre</label>
        <input [(ngModel)]="inputNombre" type="text" name="nombreProyecto" placeholder="escribe nombre proyecto">
    </div>
    <div class="form-group col-md-3">
        <label for="presupuestoProyecto"> Presupuesto</label>
        <input [(ngModel)]="inputPresupuesto" type="text" name="presupuestoProyecto" placeholder="escribe presupuesto">
    </div>

    <div class="col">
        <input type="button" class="btn btn primary" value="Añadir" (click)="agregar()"/>
    </div>
</form>